header {
    border-radius: 10px;
    padding: 10px;
    background: #fff
}

.sidebar {
    width: 200px;
    padding: 10px 20px;
    background: #fff;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar ul li.active {
    background: #3354F4;
    color: #fff;
    border-radius: 5px;
}

.sidebar ul li i {
    margin-right: 10px;
    font-size: 14px;
}

.sidebar ul li:hover {
    background: #3354F4;
    color: #fff;
    border-radius: 5px;
}

.main-area {
    width: calc(100% - 200px);
    padding: 0 15px;
}

.stat-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-cards {
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3354F4;
    margin-bottom: 10px;
}

.icon i {
    color: #fff;
}

.stat-cards p {
    font-size: 14px;
    margin-bottom: 5px;
}

.stat-cards h3 {
    font-size: 24px;
}

.attendance-charts {
    margin-bottom: 20px;
}

.line-chart,
.bar-chart {
    height: 400px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}

.all-employees {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.all-employees h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.all-employees table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.all-employees table tr th {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.all-employees table tr td {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}