@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0f0f0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.alc {
  align-items: center;
}

.space-bw {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.col-60 {
  width: 59%;
}

.col-40 {
  width: 39%;
}

.pos-relate {
  position: relative;
}

/* tabs css */
/* Container for the tabs */
.tabs-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Style for each tab button */
.tab-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Style for the active tab */
.tab-button.active {
  background-color: #007bff;
  color: #fff;
}

/* Content box for the selected tab */
.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}
